.main {
    background-color: white;
    margin: 1em auto;
    padding: 2em;
    text-align: left;
}

p {
    margin: 1em 0;
}

h2 {
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}

section img {
    width: 100%;
    max-width: 500px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
}

@media only screen and (max-width: 1000px) {
    .news {
        display: none;
    } 
}