.container {
    background-color: white;
    margin: 1em auto;
    padding: 2em;
    text-align: left;
}

p {
    margin: 1em 0;
}

h2 {
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}

section img {
    width: 100%;
    max-width: 500px;
}