/* Carousel */

.carousel-item {
    background-color: grey;
}

.carousel-item>img {
    margin: 0 auto;
    height: 300px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.633);
}

.carousel {
    /* margin: 1em; */
    background-color: rgb(37, 37, 37);
    color: white;
    padding-top: 10px;
}

@media only screen and (min-width:900px) {
    .carousel {
        width: 530px;
    }
}

/* Carousel end */


/* all news */

.news {
    padding: .5em;
    max-width: 550px;
    box-shadow: 0px 0 3px grey;
}

.article-img {
    width: auto;
    height: 100px;
    margin: 0;
}

.article {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1em;
    height: 110px;
    padding: .5em;
    align-items: center;
    overflow: hidden;
}

.article:hover {
    box-shadow: 0px 0 3px grey;
}

.news a {
    text-decoration: none;
    color: black;
}

p.tag {
    text-align: left;
    font-weight: bold;
}

/* all news end */