@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

:root {
    --heading-ff: 'Playfair Display', serif;
}

.primary-nav {
    background-color: rgb(42, 42, 42);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primary-nav .heading {
    font-family: var(--heading-ff);
    padding: .5em;
    letter-spacing: 3px;
}

.red {
    color: red;
}

.links {
    display: none;
}

.small {
    font-size: medium;
}

.primary-nav img {
    width: 25px;
    height: 20px;
    position: absolute;
    left: 1em;
    cursor: pointer;
}

.showmenu {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100vh;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
}


.link-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;
}

.link-list img {
    position: relative;
    width: 30px;
    height: auto;
}

.divider {
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid grey;
}