.App {
  text-align: center;
  background-color: whitesmoke;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 900px) {
  .Container {
    margin: 1em auto;
    width: 90%;
  }


  /* Custom */

  .Container {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      "a b"
      "d b"
      "d c";
  }

  .a {
    grid-area: a;
    justify-self: end;
  }

  .b {
    grid-area: b;
    /* border: 1px solid black; */
  }

  .c {
    grid-area: c;
    /* border: 1px solid black; */
  }

  .d {
    grid-area: d;
    justify-self: end;
  }

}